/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #E63946;
  --secondary-color:              #F1FAEE;
  --section-bg-color:             #ececec;
  --primary-bg-color:             #E63946;
  --custom-btn-bg-color:          #A8DADC;
  --custom-btn-bg-hover-color:    #1D3557;
  --heading-color:                #1D3557;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #e0e0e5;
  --link-hover-color:             #E63946;

  --body-font-family:             'Unbounded';

  --h1-font-size:                 74px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  18px;
  --menu-font-size:               14px;
  --btn-font-size:                12px;
  --copyright-font-size:          10px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family);
}

.main-wrapper {
  background: var(--section-bg-color);
  min-height: calc(100vh - 65px);
}

/*---------------------------------------
  PROFILE IMAGE              
-----------------------------------------*/
.profile-image {
  object-fit: cover;
}

.custom-block-profile-image-wrap {
  max-width: 95.71px;
  margin: auto;
  position: relative;
}

.custom-block .profile-image {
  border-radius: var(--border-radius-medium);
  width: 64px;
  height: 64px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.profile-rounded {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  display: inline-block;
  vertical-align: top;
  width: 64px;
  height: 64px;
  text-align: center;
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-btn-italic {
  font-style: italic;
}


/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sidebar {
  background: var(--white-color);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 58px 0 0;
}
.logo-image {
  width: 32px;
  height: auto;
}

.navbar {
  background: var(--white-color);
  border-bottom: 1px solid var(--border-color);
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar .nav-link {
  position: relative;
}

.navbar .header-form {
  width: 35%;
}

.navbar .header-form .form-control {
  margin-bottom: 0;
}

#sidebarMenu .nav {
  flex-wrap: inherit;
}

#sidebarMenu .nav-link {
  border-radius: var(--border-radius-small);
  color: var(--p-color);
  font-size: var(--menu-font-size);
  display: inline-block;
  position: relative;
  margin-top: 5px;
}

#sidebarMenu .nav-link.active,
#sidebarMenu .nav-link:hover {
  background: var(--primary-color);
  color: var(--white-color);
}

.navbar-toggler {
  background: var(--primary-color);
  border-radius: var(--border-radius-small);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 222;
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 10px;
  width: 40px;
  height: 40px;
  outline: none;
}

/*---------------------------------------
  CUSTOM BLOCK               
-----------------------------------------*/
.custom-block {
  background: var(--secondary-color);
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  padding: 30px;
}

.custom-block h2,
.custom-block p {
  position: relative;
  z-index: 2;
}

.custom-block-balance::before {
  content: "";
  background: var(--custom-btn-bg-color);
  background: #ff0000;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  position: absolute;
  top: -65px;
  right: -25px;
  transform: rotate(-25deg);
}

.custom-block-balance::after {
  content: "";
  background: var(--primary-color);
  background: #ffa500;
  border-radius: 100%;
  width: 180px;
  height: 180px;
  position: absolute;
  top: -75px;
  right: -25px;
  transform: rotate(-25deg);
}

.custom-block-bottom {
  background: var(--custom-btn-bg-color);
  text-align: center;
}

.custom-block.custom-block-bottom small {
  text-transform: none;
}

.custom-block-bottom-item {
  flex: auto;
}

.custom-block-icon {
  background: var(--secondary-color);
  border-radius: var(--border-radius-medium);
  font-size: var(--h6-font-size);
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: var(--dark-color);
  display: block;
  margin: auto;
  margin-bottom: 10px;
  transition: all 0.3s;
}

.custom-block-icon:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-block p {
  color: var(--dark-color);
  margin-bottom: 0;
}

.custom-block small {
  color: var(--p-color);
  font-size: var(--btn-font-size);
  text-transform: uppercase;
}

.custom-block-numbers span {
  color: var(--dark-color);
  display: inline-block;
  vertical-align: middle;
  font-size: var(--p-font-size);
  margin-right: 10px;
  position: relative;
  top: 3px;
}

.custom-block-exchange,
.custom-block-contact {
  background: var(--custom-btn-bg-color);
}

.custom-block-exchange h6 {
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-normal);
}

.custom-block-exchange p + h6 {
  color: var(--p-color);
}

.exchange-image {
  border-radius: var(--border-radius-small);
  width: 64px;
  height: auto;
  margin-right: 15px;
}

.custom-block-transations p {
  font-size: var(--menu-font-size);
  margin-bottom: 0;
}

.custom-block-transations small {
  text-transform: none;
}

.custom-block-transations p a {
  color: var(--dark-color);
}

.custom-block-transations p a:hover {
  color: var(--primary-color);
}

.custom-block-transation-detail h6,
.custom-block-transation-detail-item p {
  font-size: var(--menu-font-size);
}

.custom-block-transation-detail-item {
  flex: auto;
}

.custom-block-faq p {
  font-size: var(--menu-font-size);
}

.custom-block-contact p a {
  color: var(--heading-color);
}

.custom-block-contact p a:hover {
  color: var(--white-color);
}

.custom-block-profile p {
  font-size: var(--menu-font-size);
}

.custom-block-profile span,
.custom-block-profile p a {
  color: var(--p-color);
  max-width: 200px;
}

.custom-block-profile p a:hover {
  color: var(--primary-color);
}

.custom-block-profile strong {
  min-width: 125px;
  margin-right: 10px;
}

/*---------------------------------------
  ACCOUNT TABLE               
-----------------------------------------*/
.account-table {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-small);
  position: relative;
  overflow: hidden;
}

.account-table>:not(caption)>*>* {
  border-bottom: 0;
  padding: 15px 10px;
}

.account-table thead {
  background: var(--custom-btn-bg-color);
}

.account-table th,
.account-table tr {
  font-size: var(--btn-font-size);
  padding: 15px 10px;
}

.account-table th {
  padding: 12px 15px;
}

.account-table tr {
  font-weight: var(--font-weight-normal);
}

.account-table tbody tr:nth-child(odd) {
  background: var(--white-color);
}

.badge {
  border-radius: var(--border-radius-large);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 4px;
}

/*---------------------------------------
  CUSTOM FORM               
-----------------------------------------*/
.custom-form .form-control {
  color: var(--p-color);
  border-radius: var(--border-radius-large);
  font-size: var(--menu-font-size);
  margin-bottom: 24px;
  padding: 10px 20px;
  outline: none;
  transition: all 0.3s;
}

.form-check-input:checked {
  background-color: var(--custom-btn-bg-hover-color);
  border-color: var(--custom-btn-bg-hover-color);
}

.form-check-label {
  color: var(--p-color);
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  background: var(--section-bg-color);
  border-color: transparent;
}

.custom-form button[type="button"],
.custom-form button[type="submit"] {
  border-radius: var(--border-radius-large);
  font-size: var(--menu-font-size);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-hover-color);
  border: none;
  color: var(--white-color);
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-color);
  border-color: transparent;
}
